@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  line-height: .5rem;
  padding: 0;
  margin: 1rem 0 0 0;
}

button {
  background: none;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0 0 0.5rem 0;
  cursor: pointer;
}

button:hover, button:focus {
  background: yellow;
  border: 1px solid #000;
}